.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   margin-top: 100px;
    gap: 2rem;
}

/* search */
.search{
    width: 40%;
    height: 35px;
    border-radius: 15PX;
    border: none;
    text-align: center;
    font-size: 18px;
    outline: none;
    color: rgb(24, 24, 24);
}
/* location */
.location-box {
    text-align: center;
    margin-top: 40px;
}

#get-location {
    background: linear-gradient(to right, #7dbcf3, #9beef3);
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    box-shadow: 0 6px 12px rgba(0, 150, 255, 0.35);
    transition: 0.3s;
}

#get-location i {
    font-size: 22px;
}
