*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    color: white;
}
body{
 background-image: url('img/pexels-jplenio-4871395.jpg');
object-fit: cover;
background-size: cover;
background-position: center;

width: 100%;
height: 80vh;
}



/*show weather page2*/

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   margin-top: 20px;
    gap: 1rem;
}
.container_weather{
   background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    border-radius: 25px;
    padding: 20px 0 0 20px;
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    color: white;
   
}
.header{
    display: flex;
  justify-content: center;
    gap: 2rem;
}
.info{
    display: flex;
    gap: 1.5rem;
}
.search-box {
    display: flex;
    text-align: end;
    align-items: center;
     background: rgba(255, 255, 255, 0.4);
    padding: 8px 14px;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 230px;
    transition: 0.3s;
    color: black;
}

#search-input {
    border: none;
    outline: none; 
    width: 100%;
    font-size: 16px;
    background: transparent;
    color: white;
}

#search-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #0f0f0f;

}

#search-btn i {
    font-size: 18px;
    color: black;
}


/* ============================
   CLOUD ANIMATION 1
============================ */
@keyframes am-weather-cloud-1 {
  0% { transform: translate(-5px,0); }
  50% { transform: translate(10px,0); }
  100% { transform: translate(-5px,0); }
}

.am-weather-cloud-1 {
  animation: am-weather-cloud-1 7s linear infinite;
}

/* ============================
   CLOUD ANIMATION 2
============================ */
@keyframes am-weather-cloud-2 {
  0% { transform: translate(0,0); }
  50% { transform: translate(2px,0); }
  100% { transform: translate(0,0); }
}

.am-weather-cloud-2 {
  animation: am-weather-cloud-2 3s linear infinite;
}

/* ============================
   LIGHTNING STROKE
============================ */
@keyframes am-weather-stroke {
  0%,4%,8%,12%,16%,20%,24%,28%,100% {
    transform: translate(0,0);
  }
  2%,10%,14%,18% {
    transform: translate(0.3px,0);
  }
  6% {
    transform: translate(0.5px,0.4px);
  }
  22% {
    transform: translate(1px,0);
  }
  26% {
    transform: translate(-1px,0);
  }
  40% {
    fill: orange;
  }
  61% {
    fill: orange;
  }
  65% {
    fill: white;
    transform: translate(-1px,5px);
  }
}

.am-weather-stroke {
  animation: am-weather-stroke 1.11s linear infinite;
}

/* Optional: Scale the icon */

.weather-icon svg {
  width: 120px;
  height: 120px;
}



/* toggle mode */
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

#toggle-checkbox {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    width: 60px;
    height: 30px;
    background: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
}

.toggle-ball {
    width: 26px;
    height: 26px;
    background: rgb(224, 224, 224);
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 2px;
    transition: 0.3s;
}

.sun, .moon {
    position: absolute;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.sun {
    left: 8px;
}

.moon {
    right: 8px;
}

/* When toggled */
#toggle-checkbox:checked + .toggle-label {
    background: #333;
}

#toggle-checkbox:checked + .toggle-label .toggle-ball {
    left: 32px;
}


/* start infoOfDay */


.infoOfDay{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    margin-top: 30px;
}

.infoOfDay .weather{
 padding: 10px 0;
}
.infoOfDay .weather-icon{
 padding-left: 0;
    display: flex;
    justify-content: center;
}

.infoOfDay .weather #temp{
    font-size: 90px;
}
.infoOfDay .weather .temp-type{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.infoOfDay .weather .description-type{
    font-size: 1.2rem;
}
.infoOfDay .weather .extra-info{
    margin-top: 2.3rem;
   display: flex;
   gap: 2rem;
  
}

.infoOfDay .weather .extra-info .humidity {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoOfDay .weather .extra-info .wind {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* start infoTomorrow*/
.infoTomorrow{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 25px;
    padding: 20px;
    width: 280px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    color: white;
    margin: 20px auto;
}
.weather-tomorrow{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
 .dayName{
    text-align: end;
}

.extraInfoTomorrow .moreInfo{
   display: flex;
   justify-content: center;
   gap: 2rem;
}


.extraInfoTomorrow .moreInfo .humidity {
    display: flex;
    flex-direction: column;
}

.extraInfoTomorrow .moreInfo .wind {
    display: flex;
    flex-direction: column;
    
}
.see-week{
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    text-align: center;
    margin-top: 10px;
    letter-spacing:1px;
    cursor: pointer;
}

/* Show hourly container */
.hourly-container {
    display: flex;
    justify-content: flex-start; /* fix centering issue */
    align-items: center;
    gap: 3rem;
    overflow-x: auto;
    padding: 3px 10px;
    margin-top: 1.5rem;
    scrollbar-width: none;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    width: 90%;
    height: 150px;
    border-radius: 20px;
}

.hourly-container::-webkit-scrollbar {
    display: none;
}

.hour-card {
    flex: 0 0 auto;
    width: calc((100% - 7 * 1rem)/8);
    height: 100px;
    padding: 7px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s ease;
}



.hour-card img {
    width: 32px;
    height: 32px;
    margin: 8px 0;
}

.hour-card .time {
    font-size: 14px;
    opacity: 0.7;
    margin: 0;
}

.hour-card .temp {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.hour-card.active {
    background: #4A90E2;
    color: #fff;
    transform: scale(1.08);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.hour-card:hover {
    transform: scale(1.3); 
    background: rgba(74, 144, 226, 0.9); 
    color: #fff; 
    z-index: 0; 
}

/* Mobile optimization */
@media (max-width: 600px) {
    .hourly-container {
        gap: 1rem;
    }
    .hour-card {
        width: 70px;
    }
}

/* section-message */

.section-message{
    display: flex;
   padding-top: 50px;
    flex-direction: column;
    align-items: center;
     margin: 20px auto;
     align-content: center;
    gap: 2rem;
    background: rgba(139, 132, 132, 0.15);
    backdrop-filter: blur(0px);
    border-radius: 25px;
    
    width: 90%;
    height: 80vh;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    color: white;
}
/* search */

.search{
    width: 40%;
    height: 45px;
    border-radius: 25PX;
    border: none;
    text-align: center;
    font-size: 18px;
    outline: none;
    color: rgb(24, 24, 24);
}
/* location */
.location-box {
    text-align: center;
    margin-top: 40px;
}

#get-location {
    background: linear-gradient(to right, #6b757d, #769091);
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    box-shadow: 0 6px 12px rgba(0, 150, 255, 0.35);
    transition: 0.3s;
}

#get-location i {
    font-size: 22px;
}


/* regular-text */
.regular-text{
    font-weight: bold;
    font-size: 20px;
}
/* search btn */
/* .section-message .section-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #0f0f0f;

}

.section-btn i {
    font-size: 18px;
    color: black;
} */